body {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}

:root {
  color:blueviolet;
  height: 100vh;
  width: 100vw;

  --mainframe-height-footer: 10vh;
  --mainframe-height-header: 10vh;
}

[data-theme='light'] {
  --txt-color: rgb(0, 0, 0);
  --bg-color: #ed86868d;
}

[data-theme='dark'] {
  --txt-color: rgb(255, 255, 255);
  --bg-color: linear-gradient(135deg, #0f2027, #203a43, #2c5364);;
}

.container-mainframe {
  background: var(--bg-color);
  height: 100%;
  width: 100%;
}

.mainframe-header {
  height: var(--mainframe-height-header);
  background: var(--bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  /* padding: 0px 20px 0px 20px; */
  padding: 2em;
}

.mainframe-content {
  overflow-y: auto;
  padding: 10px;
}

.mainframe-footer {
  background: var(--bg-color);
  height: var(--mainframe-height-footer);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 10px;
  /* max-width: 100vh; */
  width: 100%;
}

div, h1, h2, h3, h4, h5, p {
  color: var(--txt-color);
}