@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  color:rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  
  --mainframe-height-header: 10vh;
  --mainframe-height-footer: 5vh;
  
  --font-main: 'Inter', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  font-family: var(--font-main);
}

[data-theme='light'] {
  --bg-color: #ffffff;
  --bg-ban-color: linear-gradient(135deg, #dedede, #dddddd);;

  --txt-color: rgb(0, 0, 0);
  --color-hover: #2323ff;
  --elt-bg-color: #bcbcbc;

  /* button */
  --button-bg-color: var(--elt-bg-color);
  --button-tkt-color: var(--txt-color);
  --button-bg-color-hover: var(--elt-bg-color);
  --button-txt-color-hover: var(--color-hover);

  /* border */
  --border-color: #000000;
  --border-color-hover: var(--color-hover);
  --border-size: 0.1em;

  /* table */
  --table-line-bg-color: #fff;
  --table-line-txt-color: #5a5a5a;
}

[data-theme='dark'] {
  --bg-color: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  --bg-ban-color: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  
  --txt-color: rgb(255, 255, 255);
  --color-hover: #090909;
  --elt-bg-color: #bcbcbc;
  --elt-txt-color: #030303;

  /* button */
  --button-bg-color: var(--elt-bg-color);
  --button-tkt-color: var(--elt-txt-color);
  --button-bg-color-hover: var(--elt-bg-color);
  --button-txt-color-hover: var(--color-hover);
  
  /* border */
  --border-color: #ffffff;
  --border-color-hover: var(--color-hover);
  --border-size: 0.1em;

  /* table */
  --table-line-bg-color: #6253534a;
  --table-line-txt-color: #d11313;
}

.container-mainframe {
  background: var(--bg-color);
  height: 100vh;
  width: 100vw;
}

.mainframe-header {
  height: var(--mainframe-height-header);
  background: var(--bg-ban-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 20px;
  border-bottom: var(--border-size) solid var(--border-color);
}

.mainframe-content {
  background: var(--bg-color);
  overflow-y: auto;
  flex-grow: 1;
  height: calc(100vh - var(--mainframe-height-header) - var(--mainframe-height-footer));
  /* padding: 10px; */
}

.mainframe-footer {
  width: 100%;
  height: var(--mainframe-height-footer);
  background: var(--bg-ban-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  padding: 10px;
  /* max-width: 100vh; */
  border-top: var(--border-size) solid var(--border-color);
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  margin: 0.3em;
}

.ant-btn {
  color: var(--button-tkt-color) !important;
  background: var(--button-bg-color) !important;
  border-color: var(--border-color);
}
.ant-btn:hover {
  background: var(--button-bg-color-hover) !important;
  border-color: var(--border-color-hover) !important;
}
.ant-btn:hover span {
  color: var(--button-txt-color-hover) !important;
  transition: color 0.3s ease;
}

/* ant table */
.custom-table-header {
  background-color: #2a2a2a; /* fond sombre */
  color: #00bcd4;            /* texte coloré */
  border-bottom: 4px solid #d10000;
}

.custom-table-row {
  background-color: var(--table-line-bg-color);
  color: var(--table-line-txt-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.ant-table-row.custom-table-row:hover td {
  background-color: #06bc15 !important;
  color: #fa00cc !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* .thead {
  background: #f70909;
}

.ant-table-tbody {
  background: var(--button-bg-color); 
}


.ant-table-row:hover {
  background: #f00 !important;
} */

.ant-table-cell div {
  color: var(--elt-txt-color);
}

/* ant select dropdown */
/* .ant-select {
  margin: 0px;
} */

.ant-select-dropdown {
  background: var(--elt-bg-color);
}

.ant-select-item {
}
.ant-select-item-option{
  /* background: #00bcd4; */
}
.ant-select-item-option-content {
  color:var(--elt-txt-color);
}

div, h1, h2, h3, h4, h5, p {
  color: var(--txt-color);
  font-size: 1em;
}